<div ng-controller="mauSacCtrl">

    <h2>Danh sách màu sắc</h2>

    <table class="table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Mã</th>
            <th>Tên màu</th>
            <th>Trạng thái</th>
            <th>Mô tả</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="m in dsMauSac">
            <td>{{ getSTT($index) }}</td>
            <td>{{ m.maM }}</td>
            <td>{{ m.tenM }}</td>
            <td>
                <span ng-if="m.trangThai == 1" class="badge bg-success">Hoạt động</span>
                <span ng-if="m.trangThai == 0" class="badge bg-secondary">Ngừng</span>
            </td>
            <td>{{ m.moTa }}</td>
        </tr>
        </tbody>
    </table>

</div>
