<div ng-controller="theLoaiCtrl">

    <h2>Danh sách thể loại</h2>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Mã</th>
            <th>Tên thể loại</th>
            <th>Trạng thái</th>
            <th>Kiểu</th>
            <th>Mô tả</th>
            <th>Hành động</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="tl in dsTheLoai">
            <td>{{ getSTT($index) }}</td>
            <td>{{tl.ma}}</td>
            <td>{{tl.ten}}</td>
            <td>
                <span ng-if="tl.trangThai == 1" class="badge bg-success">Hoạt động</span>
                <span ng-if="tl.trangThai == 0" class="badge bg-secondary">Ngừng</span>
            </td>
            <td>{{tl.kieu}}</td>
            <td>{{tl.moTa}}</td>
            <td> </td>
        </tr>
        </tbody>
    </table>

</div>
