<div class="container my-5" ng-controller="ctspCtrl">
    <div ng-if="message" class="my-3">
        <div class="alert"
             ng-class="{'alert-success': messageType=='success', 'alert-danger': messageType=='error'}">
            {{message}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="product-image-box mb-3">
                <img ng-src="{{mainImage}}" class="img-fluid rounded shadow">
            </div>

            <div class="d-flex gap-2">
                <img ng-repeat="ctsp in dsCTSP"
                     ng-src="{{ctsp.img}}"
                     class="thumb-img"
                     ng-click="changeImage(ctsp.img)">
            </div>
        </div>


        <div class="col-md-7">
            <h2 class="fw-bold">{{tenSP}}</h2>


            <p ng-if="selectedCTSP">
                Mã CTSP: <b>{{selectedCTSP.ma}}</b>
            </p>


            <div class="row">
                <div class="d-flex flex-wrap gap-2 mb-3">
                    <div ng-repeat="s in listSize">
                        <button class="btn btn-outline-secondary"
                                ng-click="chonSize(s)"
                                ng-class="{'active': selectedSize === s}">
                            {{s}}
                        </button>
                    </div>
                </div>

                <div class="d-flex flex-wrap gap-2 mb-3">
                    <div ng-repeat="m in listMau">
                        <button class="btn btn-outline-secondary"
                                ng-click="chonMau(m)"
                                ng-class="{'active': selectedMau === m}">
                            {{m}}
                        </button>
                    </div>
                </div>


            </div>


            <h4 class="text-danger fw-bold"
                ng-if="!selectedCTSP">
                {{minPrice | number}} đ - {{maxPrice | number}} đ
            </h4>

            <h4 class="text-danger fw-bold"
                ng-if="selectedCTSP">
                {{selectedCTSP.gia | number}} đ
            </h4>


            <p ng-if="selectedCTSP">
                Số lượng kho: <b>{{selectedCTSP.soLuong}}</b>
            </p>
            <div class="d-flex align-items-center mb-4">
                <label class="me-2">Số lượng:</label>
                <input type="number"
                       class="form-control w-25"
                       min="1"
                       max="{{selectedCTSP.soLuong}}"
                       ng-model="qty">
            </div>

            <div class="d-flex gap-3">
                <button class="btn btn-outline-primary px-4"
                        ng-click="addToCart(idKH, selectedCTSP.id, qty)">
                    🛒 Thêm giỏ hàng
                </button>
            </div>
        </div>
    </div>
</div>
